body {
  background-color: #edc64f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  width: 800px;
}

.title_area {
  margin: 10px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  letter-spacing: 0.05em;
  background: linear-gradient(
    to right,
    rgb(224, 185, 69) 25%,
    rgb(153, 51, 80) 75%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.input_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

textarea {
  margin: 10px;
  width: 300px;
  height: 350px;
  background-color: #edc64f;
  box-shadow: 8px 8px 20px #b99928 inset;
  border: none;
  border-radius: 5%;
  outline: none;
  padding: 10px;
}

.box {
  margin: 10px;
}

.box-title {
  color: #795c05;
  text-align: center;
  padding: 5px;
  letter-spacing: 0.05em;
  width: 30%;
}
.box-title.input {
}

.box-title.result {
  width: 85% !important;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
}

button {
  height: 30px;
  width: 80px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(145deg, #fed455, #d5b247);
  box-shadow: 7px 7px 15px #c9a843, -7px -7px 15px #ffe45b;
  outline: none;
  letter-spacing: 0.05em;
  cursor: pointer;
}

button:hover {
  background: #edc64f;
  box-shadow: inset 7px 7px 15px #c9a843, inset -7px -7px 15px #ffe45b;
}
